.container {
    width: 100%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.ventLabel {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.profileImg {
    width: 100%;
    display: block;
    position: relative;
}

.midImg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.midZone {
    width: 100%;
    position: relative;
    display: block;
}

#hideContainer {
    display: none;
}

.objDiv {
    display: block;
    position: relative;
    z-index: 10;
    width: 0%;
    aspect-ratio: 1/1;
    box-shadow: inset 0 0 0 1px black;
    visibility: hidden;
}

.spacer {
    display: block;
    position: relative;
    height: 2px;
}

.objImg {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

}

.categoriTable {
    margin-left: auto;
    margin-right: auto;
}

.categoriDiv {
    display: inline-block;
    position: relative;
}

.categoriBox {
    border: 1px solid black;
    padding: 2px;
    width: 100%;
}

.categoriLabel {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 1;  
    margin: 0px;
}

.categoriTextBox {
    margin-left: 10px;
}

.buttonTd {
    text-align: center;
}

.vfi {
    background-color: red;
}

.vsi {
    background-color: orange;
}

.rsi {
    background-color: yellow;
}

.ahi {
    background-color: lightgreen;
}

.fhi {
    background-color: green;
}

.hik {
    background-color: lightblue;
}

.vki {
    background-color: purple;
}

.gfi {
    background-color: pink;
}

.kei {
    background-color: gray;
}